<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">

     <a class="navbar-brand" href="/">
      	<h3><b> WESING BATCH DOWNLOAD TOOL version 3.0</b></h3>
      </a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		 <ul class="nav navbar-nav navbar-right">
		 	<li><a href="/lyrics" class="navbar-link" target="_blank"><h4><b>Lyrics</b></h4></a></li>

		 	<li><a href="/images" class="navbar-link" target="_blank"><h4><b>Info</b></h4> (Images & Excel Files)</a></li>

			<li><a href="/tracks" class="navbar-link" target="_blank"><h4><b>Tracks</b></h4> (Mp3, Mp4, Karaoke) </a></li>
		 </ul>

 		</div>
	</div>

    </div>
  </div>
</nav>
